// set variables

$color-header: #F1352B; //header background color
$header-height: 149px; //header section height
$font-primary: 'Helvetica Neue', sans-serif; //font style
$font-size: 18px; //font size
$color-text: #FFFFFF; // font color
$color-nav: #7ACB00; //navigation background color
$nav-height: 81px; //navigation section height
$color-sidebar: #6E27C5; //purple
$sidebar-height: 649px; //sidebar section height
$color-main: #FF6600; //orange
$main-height: 649px; //main content section height
$primary-color: #ffc0cb; //pink
$color-footer: #150F96; //dark blue
$footer-height: 152px; //footer section height
